.container {
  /* text-align: center; */
}

.join_form {
  width: 60%;
  margin: 0 auto;
}

.input_text {
  /* color: #adadad; */
  width: 90%;
  line-height: 2.5em;
  margin-bottom: 3px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
}

.li_col2 {
  width: 90%;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .join_form {
    width: 100%;
  }

  .input_text {
    width: 100%;
  }

  .li_col2 {
    width: 100%;
  }
}

.table {
  width: 100%;
  border-spacing: 0 10px;
  border-collapse: separate;
}

.tr {
  /* border: 1px solid black; */
  /* border-bottom: 1px solid #e6e6e6; */
  /* margin-bottom: 15px; */
}

.th {
  width: 20%;
  vertical-align: top;
  text-align: start;
  padding: 8px 0;
}

.ul {
  list-style: none;
  padding-left: 0px;
}

.li_col1 {
  width: 100%;
  margin-bottom: 5px;
}

.required_red:after {
  content: "*";
  color: red;
}
.line {
  /* height: 10px; */
  /* border: 1px solid black; */
}

.btnAuth {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
}

.label_gender {
  margin: 0 20px 0 5px;
}

.input_radio {
  /* width: 50%; */

  width: 18px;
  height: 18px;
  /* border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; */
}

.input_postcode {
  background-color: #fff;
  cursor: text;
  margin-right: 2%;
}

.btn_addr {
  background-color: #f0f0f0;
}

.btnJoin {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  width: 40%;
  height: 66px;
}

::placeholder {
  color: #adadad;
}

.txt_info {
  color: #adadad;
}

.txt_error {
  width: 90%;
  color: #f00;
}

.txt_sub {
  width: 90%;
  color: blue;
}
