.container {
  position: relative;
  width: 100%;
  /*padding-top: 100%;   /* 1:1 Aspect Ratio */
}

.img {
  /* position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  min-width: 1000%;
  min-height: 1000%;
  -webkit-transform: scale(0.1);
  transform: scale(0.1); */

  width: 100%;
  /* max-width: 100%;
  height: auto; */
}

.btnKakaoLogin {
  width: 100%;
  height: 25px;
  background-color: #fee500;
  border: 1px solid #fee500;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
  /* padding: 0 0 0 20px; */
}

.btnNaverLogin {
  width: 100%;
  height: 25px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #e1e1e3;
}

.logo {
  /* position: relative; */
  position: absolute;
  left: 1rem;
  width: 20px;
  height: 18px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
