.menuContainer {
  display: flex;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  height: 50px;
}
.menubtn {
  display: none;
}
.searchbtn {
  display: none;
}
.userbtn {
  display: none;
}
.cartbtn {
  display: none;
}
.bigmenu1 {
  vertical-align: middle;
}

.bigmenu2 {
  margin-left: auto;
  vertical-align: middle;
}

.logo {
  border: 1px solid red;
  /* width: 30%; */
  margin: auto 0;
}

.menuli {
  /* float: left; */
  margin-right: 20px;
}

.dropMenuItem {
  color: #a7a7a6 !important;
  /* background-color: aliceblue; */
  /* color: white; */
}

@media (max-width: 991px) {
  /* .menuContainer {
    text-align: center;
  } */

  .bigmenu1 {
    margin-top: 10px;
    display: none;
  }
  .bigmenu2 {
    margin-top: 10px;
    display: none;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .menubtn {
    display: block;
  }
  .searchbtn {
    display: block;
  }
  .userbtn {
    display: block;
  }
  .cartbtn {
    display: block;
  }
}
