.input_col2_7 {
  width: 70%;
  line-height: 2.5em;
  margin-bottom: 3px;
  /* margin-right: 2%; */
  border: 1px solid #e9e9e9;
}

.btn_col2_1 {
  width: 28%;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
}

.input_wdt9 {
  width: 90%;
  line-height: 2.5em;
  margin-bottom: 3px;
  border: 1px solid #e9e9e9;
}

.line_green {
  border: 1px solid #bfbfbf;
}

.text_center {
  text-align: center;
}
