.postmodal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 500px;
  transform: translate(-50%, -50%);
  padding: 7px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.25);

  /* border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.25);
  display: block; */
  /* position: absolute;
  top: 50%;
  left: 50%; */
}
