.container {
  border: 1px solid black;
  text-align: center;
}

.login_form {
  /* border: 1px solid red; */
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  line-height: 2.5em;
  margin-bottom: 3px;
  border: 1px solid #e9e9e9;
}

.form {
  margin-bottom: 40px;
}

.btnSubmit {
  width: 100%;
  color: white;
  background-color: #dd101a;
  border: 1px solid #dd101a;
  cursor: pointer;
  margin-bottom: 5px;
}

.btnSubmit:hover {
  background-color: #b71919;
}

.btnJoin {
  width: 100%;
  color: white;
  background-color: #222222;
  cursor: pointer;
}
